body {
  background-color:#000000;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  color: white;
  background-color: #777473;
  text-align: center;
}

h2 {
  color:white;
  text-align: center;
}

p {
  text-align: center;
  color:white;
}
/* img {
  max-height: auto;
  max-width: 250px;
} */
.streaming-services-container {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.streaming-service img {
  max-height: 100%;
  max-width: 100%;
  display: inline-block;
  vertical-align: bottom;
  /* border:5px solid #FFDC00; */
  text-align:center;
  margin:2%;
  padding:20px;
  display: flex;
  margin-bottom: 10px;
}

.quiz-buttons {
  text-align: center;
  font-size: 100px;
}

.choices {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width:100%;
  text-align:center;
}

.answer-choice {
  width: calc(100% / 4);
  display: inline-block;
  vertical-align: bottom;
  border:5px solid #FFDC00;
  text-align:center;
  margin:2%;
  padding:20px;
  display: flex;
  margin-bottom: 10px;
}

.answer-choice-label {
  /* margin-left: 10px; */
  text-align:-webkit-center;
  /* font-family: 'Raleway', sans-serif; */
  width: -webkit-fill-available;
  text-decoration: underline;
  /* word-wrap: break-word; */

}

.answer-choice-label span{
  /* margin-left: 10px; */
  word-wrap: break-word;
  text-align:center;
}

.choices-header {
  font-size: 1.2rem;
  /* font-weight: bold; */
}

.question {
  font-size: 1.5rem;
  font-weight: bold;
  color:black;
  text-align:left;
}

.choice-image {
  max-width: 100px; /* you can use % */
  height: auto;
  text-align: center;
  display: block;
}

.quiz-container{
  position: relative
}

.question-container {
  background-color: #777473;
}

.fa-check {
  color: #2ECC40;
}

.fa-times {
  color: #FF4136;
}

ol {
  /* font-family: 'Raleway', sans-serif; */
  font-size: 1.5rem;
}
